
.NR3w79r5{padding:120px 300px;padding:clamp(3.125rem,1.9642857143rem + 4.7619047619vw,6.25rem) clamp(1rem,-4.4321428571rem + 22.2857142857vw,15.625rem);display:flex;flex-direction:column;gap:10px;align-items:center;justify-content:center;background-size:cover;background-position:center;background-repeat:no-repeat;text-align:center;text-wrap:balance}.NR3w79r5 h1{color:var(--white);font-size:clamp(1.75rem,1.5178571429rem + 0.9523809524vw,2.375rem)}@media(min-width: 1440px){.NR3w79r5 h1{font-size:clamp(2.375rem,0.5rem + 2.0833333333vw,3rem)}}.NR3w79r5 h6{color:var(--grey90);font-size:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem)}@media(min-width: 1440px){.NR3w79r5 h6{font-size:clamp(1rem,0.625rem + 0.4166666667vw,1.125rem)}}@media(min-width: 1440px){.NR3w79r5{padding:clamp(6.25rem,2.5rem + 4.1666666667vw,7.5rem) clamp(15.625rem,6.25rem + 10.4166666667vw,18.75rem)}}
.XpYHd1WU{display:flex;flex-direction:column}._h_Px18B{display:flex;flex-direction:column;padding-top:clamp(2.5rem,-5rem + 8.3333333333vw,5rem);padding-bottom:clamp(2.5rem,2.5rem + 0vw,2.5rem);padding-inline:clamp(1rem,0.4428571429rem + 2.2857142857vw,2.5rem);border-top:var(--border)}._h_Px18B h1{font-size:clamp(1.75rem,1.5178571429rem + 0.9523809524vw,2.375rem);font-weight:600;color:var(--white)}._h_Px18B p{font-size:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem);margin-top:clamp(0.375rem,0.2821428571rem + 0.380952381vw,0.625rem);text-wrap:balance;color:var(--grey90)}._h_Px18B span{font-size:clamp(1rem,0.9535714286rem + 0.1904761905vw,1.125rem);margin-top:clamp(1.875rem,1.6428571429rem + 0.9523809524vw,2.5rem);padding:clamp(0.625rem,0.25rem + 0.4166666667vw,0.75rem) clamp(0.625rem,-0.125rem + 0.8333333333vw,0.875rem);background-color:var(--grey15);border-radius:8px;color:var(--white);width:fit-content}@media(min-width: 1440px){._h_Px18B{padding-top:clamp(5rem,-2.5rem + 8.3333333333vw,7.5rem);padding-bottom:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem);padding-inline:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem)}._h_Px18B h1{font-size:clamp(2.375rem,0.5rem + 2.0833333333vw,3rem)}._h_Px18B p{font-size:clamp(1rem,0.625rem + 0.4166666667vw,1.125rem);margin-top:clamp(0.625rem,-0.125rem + 0.8333333333vw,0.875rem)}._h_Px18B span{font-size:clamp(1.125rem,0.375rem + 0.8333333333vw,1.375rem);margin-top:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem)}}
.cRhGaIfQ{border-top:var(--border);display:grid;grid-template-columns:1fr}.cRhGaIfQ .IkDbzQaw:not(:last-child){border-bottom:var(--border)}@media(min-width: 1100px){.cRhGaIfQ{grid-template-columns:1fr 1fr}.cRhGaIfQ .IkDbzQaw:nth-child(even){border-bottom:none;border-bottom:var(--border)}.cRhGaIfQ .IkDbzQaw:nth-child(odd){border-bottom:none;border-right:var(--border);border-bottom:var(--border)}.cRhGaIfQ .IkDbzQaw:nth-child(7),.cRhGaIfQ .IkDbzQaw:nth-child(8){border-bottom:none}}.IkDbzQaw{display:flex;flex-direction:column;gap:clamp(1.875rem,1.6428571429rem + 0.9523809524vw,2.5rem);padding:clamp(2.5rem,1.5714285714rem + 3.8095238095vw,5rem) clamp(1.5rem,1.1285714286rem + 1.5238095238vw,2.5rem)}.IkDbzQaw p{color:var(--grey60);line-height:150%;font-size:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem)}@media(min-width: 1440px){.IkDbzQaw{padding:clamp(5rem,1.25rem + 4.1666666667vw,6.25rem) clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem);gap:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem)}.IkDbzQaw p{font-size:clamp(1rem,0.625rem + 0.4166666667vw,1.125rem);text-wrap:balance}}.B6RDkHh9{display:flex;gap:clamp(0.625rem,0.5321428571rem + 0.380952381vw,0.875rem);align-items:end}.B6RDkHh9 h1{color:var(--green80);font-weight:600;line-height:80%;font-size:clamp(5rem,4.0714285714rem + 3.8095238095vw,7.5rem)}.B6RDkHh9 span{color:var(--grey60);font-size:clamp(1.25rem,1.1571428571rem + 0.380952381vw,1.5rem);border-bottom:var(--border);padding-bottom:clamp(0.875rem,0.7357142857rem + 0.5714285714vw,1.25rem);width:100%;font-weight:500}@media(min-width: 1440px){.B6RDkHh9 h1{font-size:clamp(7.5rem,1.875rem + 6.25vw,9.375rem)}.B6RDkHh9 span{font-size:clamp(1.5rem,0.375rem + 1.25vw,1.875rem);padding-bottom:clamp(1.25rem,0.2403846154rem + 1.1538461538vw,1.625rem)}}
.TCh9zkdl{padding:clamp(3.125rem,1.9642857143rem + 4.7619047619vw,6.25rem) clamp(1rem,-4.4321428571rem + 22.2857142857vw,15.625rem);display:flex;flex-direction:column;background-size:cover;background-position:center;background-repeat:no-repeat;align-items:center;text-align:center;text-wrap:balance}.TCh9zkdl svg{max-width:clamp(3.125rem,2.8928571429rem + 0.9523809524vw,3.75rem)}.TCh9zkdl h1{font-weight:600;color:var(--white);font-size:clamp(1.5rem,1.3607142857rem + 0.5714285714vw,1.875rem);margin-top:clamp(1.75rem,1.4714285714rem + 1.1428571429vw,2.5rem)}.TCh9zkdl h6{line-height:150%;font-weight:400;color:var(--grey90);font-size:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem);margin-top:clamp(0.375rem,0.2821428571rem + 0.380952381vw,0.625rem)}.TCh9zkdl a{margin-top:clamp(1.75rem,1.4714285714rem + 1.1428571429vw,2.5rem)}@media(min-width: 1440px){.TCh9zkdl{padding:clamp(6.25rem,2.5rem + 4.1666666667vw,7.5rem) clamp(15.625rem,-3.125rem + 20.8333333333vw,21.875rem)}.TCh9zkdl svg{max-width:clamp(3.75rem,0rem + 4.1666666667vw,5rem)}.TCh9zkdl h1{font-size:clamp(1.875rem,0.375rem + 1.6666666667vw,2.375rem);margin-top:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem)}.TCh9zkdl h6{margin-top:clamp(0.625rem,-0.125rem + 0.8333333333vw,0.875rem)}.TCh9zkdl a{margin-top:clamp(2.5rem,0.625rem + 2.0833333333vw,3.125rem)}}
.cZGhuT9p{padding:clamp(1.5rem,0.6642857143rem + 3.4285714286vw,3.75rem);display:grid;grid-template-columns:1fr;gap:clamp(1.875rem,0rem + 2.0833333333vw,2.5rem);margin:0 auto;max-width:clamp(22.375rem,11.0464285714rem + 46.4761904762vw,52.875rem)}@media(min-width: 900px){.cZGhuT9p{border-inline:var(--border)}}.cZGhuT9p .A8ZYI97j button{display:flex;align-items:center;justify-content:center;width:100%;font-weight:500}.cZGhuT9p .pDdoKSTJ{background-color:var(--grey20-back);padding:clamp(1.125rem,0.8464285714rem + 1.1428571429vw,1.875rem) clamp(1.5rem,1.3607142857rem + 0.5714285714vw,1.875rem);border-radius:8px;border:1px var(--grey15) solid}.cZGhuT9p .pDdoKSTJ h4{font-weight:500;line-height:150%;color:var(--white);font-size:clamp(1rem,0.9535714286rem + 0.1904761905vw,1.125rem);margin-bottom:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem)}.cZGhuT9p .pDdoKSTJ h5{line-height:150%;margin-bottom:clamp(1.5rem,1.3607142857rem + 0.5714285714vw,1.875rem);font-size:clamp(0.875rem,0.8285714286rem + 0.1904761905vw,1rem);color:var(--grey90)}.cZGhuT9p .pDdoKSTJ input{background-color:rgba(0,0,0,0);border-bottom:var(--border);padding-bottom:6px;font-size:clamp(1rem,0.625rem + 0.4166666667vw,1.125rem);line-height:150%;caret-color:var(--grey90);color:var(--grey90)}.cZGhuT9p .pDdoKSTJ input::placeholder{color:var(--grey40)}.cZGhuT9p .pDdoKSTJ.vcVOCHL8 input{width:100%}.cZGhuT9p .pDdoKSTJ .GK5nZZcf{display:grid;grid-template-columns:1fr;gap:24px}@media(min-width: 770px){.cZGhuT9p .pDdoKSTJ .GK5nZZcf{grid-template-columns:1fr 1fr}}.cZGhuT9p .pDdoKSTJ .GK5nZZcf .oyR10xW3{display:flex;align-items:center;height:28px;position:relative;color:var(--green99)}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label{cursor:pointer;height:100%;display:flex;align-items:center;padding-left:38px}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label input:checked~span::after{display:block}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label input:hover~span{background-color:var(--grey50)}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label span{position:absolute;left:0px;top:0px;width:28px;height:28px;background-color:var(--grey15);border-radius:5px;border:1px var(--grey20) solid}.cZGhuT9p .pDdoKSTJ .GK5nZZcf label span::after{left:10px;top:3.5px;width:7px;height:15px;border:solid var(--green50);border-width:0 3px 3px 0;border-radius:1px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);content:"";position:absolute;display:none}.cZGhuT9p .pDdoKSTJ.OfGJwlxY input{width:100%}@media(min-width: 900px){.cZGhuT9p{grid-template-columns:1fr 1fr}.cZGhuT9p .ovkBUjAw{grid-column:span 2}.cZGhuT9p .vcVOCHL8{grid-column:span 2}.cZGhuT9p .kwk0yOZ8{grid-column:span 2}.cZGhuT9p .A8ZYI97j{width:100%;grid-column:span 2}.cZGhuT9p .A8ZYI97j button{width:fit-content}}@media(min-width: 1440px){.cZGhuT9p{padding:clamp(3.75rem,0rem + 4.1666666667vw,5rem);max-width:clamp(52.875rem,12.75rem + 44.5833333333vw,66.25rem)}.cZGhuT9p .pDdoKSTJ h4{font-size:clamp(1.125rem,0.375rem + 0.8333333333vw,1.375rem);margin-bottom:clamp(1rem,0.25rem + 0.8333333333vw,1.25rem)}.cZGhuT9p .pDdoKSTJ h5{margin-bottom:clamp(1.875rem,0rem + 2.0833333333vw,2.5rem);font-size:clamp(1rem,0.625rem + 0.4166666667vw,1.125rem)}}
.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
}
.range-slider[data-vertical] {
  height: 100%;
  width: 8px;
}
.range-slider[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #2196f3;
}
.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5);
}
.range-slider[data-vertical] .range-slider__thumb {
  left: 50%;
}
.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2;
}
.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: #51adf6;
}
.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0);
}
.range-slider input[type="range"] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.range-slider input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}
.range-slider input[type="range"]:focus {
  outline: 0;
}

.b9Rra1Vw{margin-bottom:28px}

/*# sourceMappingURL=149.727177a9.css.map*/