.logo{
    // height: 60px;
    height: fluid-prop(60, 40, 1920, 1440);
    transition: all 0.5s;
    align-items: center;
    display: flex;
    justify-content: center;
    &:hover{
        opacity: 0.7;
    }
    & img{
        height: 100%;
    }
}