.block{
    display: flex;
    flex-direction: column;
}
.block_headline{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-block: var(--border);
    & h2{
        padding-block: fluid-prop(50, 40, 1920, 1440);
        font-size: fluid-prop(22, 20, 1440, 390);
        color: var(--grey60);
        font-weight: 500;
    }
    @media (min-width:1440px) {
        & h2{
            font-size: fluid-prop(28, 22, 1920, 1440);
        }
    }
    @media (min-width:1150px) {
        justify-content: flex-start;
        padding-left: fluid-prop(50, 40, 1920, 1440);
    }
}

.block_con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    & div:nth-child(1){
        border-right: var(--border);
        border-bottom: var(--border);
    }
    & div:nth-child(2){
        border-bottom: var(--border);
    }
    & div:nth-child(3){
        border-right: var(--border);
    }
    @media (min-width:1150px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        & div:not(:last-child) {
            border: none;
            border-right: var(--border);
        }
    }
}
.block_item{
    display: flex;
    flex-direction: column;
    padding: fluid-prop(40, 20, 1440, 390);
    gap: fluid-prop(24, 20, 1440, 390);
    & div:nth-child(1){
        padding: fluid-prop(20, 16, 1440, 390);
    }
    & svg{
        max-width: fluid-prop(40, 24, 1920, 1440);
        color: var(--green50);
    }
    & h3{
        text-wrap: balance;
        color: var(--grey90);
        font-size: fluid-prop(20, 16, 1920, 1440);
        font-weight: 500;
        line-height: 150%;
    }
    @media (min-width:1440px) {
        gap: fluid-prop(30, 24, 1920, 1440);
        padding: fluid-prop(50, 40, 1920, 1440);
        & div:nth-child(1) {
            padding: fluid-prop(24, 20, 1920, 1440);
        }
    }
}