*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100px;
    width: 100%;
    background-color: bisque;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    & *{
        transition: all 0.5s;
    }
    & li{
        font-weight: 700;
        color: darkslategray;
        & :hover{
            color: rgb(142, 103, 52);
        }
        & a{
            text-decoration: none;
            color: inherit;
            font-size: 30px;
        }
    }
}