.structure_con {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    flex-direction: column;
    padding-top: fluid-prop(80, 40, 1920, 1440);
    padding-bottom: fluid-prop(40, 40, 1920, 1440);
    padding-inline: fluid-prop(40, 16, 1440, 390);
    border-top: var(--border);
    & h1{
        font-size:fluid-prop(38, 28, 1440, 390);
        font-weight: 600;
        color: var(--white);
    }
    & p{
        font-size: fluid-prop(16, 14, 1440, 390);
        margin-top: fluid-prop(10, 6, 1440, 390);
        text-wrap: balance;
        color: var(--grey90);
    }
    & span{
        font-size: fluid-prop(18, 16, 1440, 390);
        margin-top: fluid-prop(40, 30, 1440, 390);
        padding: fluid-prop(12, 10, 1920, 1440) fluid-prop(14, 10, 1920, 1440);
        background-color: var(--grey15);
        border-radius: 8px;
        color: var(--white);
        width: fit-content;
    }
    @media (min-width:1440px) {
        padding-top: fluid-prop(120, 80, 1920, 1440);
        padding-bottom: fluid-prop(50, 40, 1920, 1440);
        padding-inline: fluid-prop(50, 40, 1920, 1440);
        & h1{
            font-size:fluid-prop(48, 38, 1920, 1440);
        }
        & p{
            font-size: fluid-prop(18, 16, 1920, 1440);
            margin-top: fluid-prop(14, 10, 1920, 1440);
        }
        & span{
            font-size: fluid-prop(22, 18, 1920, 1440);
            margin-top: fluid-prop(50, 40, 1920, 1440);
        }
    }
}