.card{
    background-color: rgb(171, 171, 171);
    border-radius: 15px;
    padding: 20px;
    & h1{
        height: 70px;
        background-color: rgb(206, 206, 206);
        width: 60%;
    }
    & p{
        height: 70px;
        background-color: rgb(206, 206, 206);
        width: 90%;
        margin-top: 5px;
    }
    & img{
        width: 100%;
        height: 180px;
        opacity: 0%;
    }
}