.card{
    display: flex;
    flex-direction: column;
    gap: fluid-prop(30, 24, 1440, 390);
    padding: fluid-prop(60, 30, 1440, 390);
    &:not(:last-child) {
        border-bottom: var(--border);
    }
    @media (min-width: 1100px) {
        &:not(:last-child) {
            border-bottom: none;
        }
        &:nth-child(1){
            border-right: var(--border);
            border-bottom: var(--border);
        }
        &:nth-child(2){
            border-bottom: var(--border);
        }
        &:nth-child(3){
            border-right: var(--border);
        }
    }
    @media (min-width: 1440px) {
        padding: fluid-prop(80, 60, 1920, 1440);
        gap: fluid-prop(40, 30, 1920, 1440);
    }



    & h1{
        font-size: fluid-prop(26, 20, 1920, 1440);
        line-height: 150%;
    }
    & p{
        color: var(--grey90);
        font-size: fluid-prop(16, 14, 1440, 390);
        @media (min-width: 1440px) {
            font-size: fluid-prop(20, 16, 1920, 1440);
        }
    }


}
.headlinecon{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}