.backcon{
    padding: fluid-prop(100, 50, 1440, 390) fluid-prop(250, 16, 1440, 390);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    & img{
        max-width: fluid-prop(60, 50, 1440, 390);
    }
    & h1{
        font-weight: 600;
        color: var(--white);
        font-size: fluid-prop(30, 24, 1440, 390);
        margin-top: fluid-prop(40, 28, 1440, 390);
    }
    & h6{
        line-height: 150%;
        font-weight: 400;
        color: var(--grey90);
        font-size: fluid-prop(16, 14, 1440, 390);
        margin-top: fluid-prop(10, 6, 1440, 390);
    }
    & a{
        margin-top: fluid-prop(40, 28, 1440, 390);
    }
}
@media (min-width:1440px) {
    .backcon {
        padding: fluid-prop(120, 100, 1920, 1440) fluid-prop(350, 250, 1920, 1440);
        & img{
            max-width: fluid-prop(80, 60, 1920, 1440);
        }
        & h1{
            font-size: fluid-prop(38, 30, 1920, 1440);
            margin-top: fluid-prop(50, 40, 1920, 1440);
        }
        & h6{
            margin-top: fluid-prop(14, 10, 1920, 1440);
        }
        & a{
            margin-top: fluid-prop(50, 40, 1920, 1440);
        } 
    }
}
